body {
    font-family: 'Open Sans Condensed';
    padding: 20px 60px;
}


/* 

This will get rid of the default styling for all <a> 

In React <Link /> components get rendered out as <a>


*/
a {
    text-decoration: none;
    color: black;
}